/*  This is my reset code*/

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
    /* border: 0; */
    }   

    /* THis is universal */
    *{
        text-decoration: none;
    }

    /* This is the head */
    body{
        /* padding-left:20px ; */
    }

    header{
        background-color: gray;
        padding-top: 1%;
    }
    nav{
        padding: 1%;

       
    }
    nav a{
        text-decoration: none;
        color: white;
        margin: 1%;
    }
    h1{
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 2%;
    } 
    /* This is the middle of the page  */

    .topsection{
        display: flex;
        align-items: center;
        width: 100%;
        border: 2px solid black;
        background-color: rgb(148, 129, 129) 
        
    }
    .pic{
        background-image: url('https://images.unsplash.com/photo-1602992708529-c9fdb12905c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
        height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .topsection div{
        width: 50%;
    }
    a{
        color: white;
    }
    a:hover{
        color: black;
    }
    .MainPic img{
        width: 50%;   
        padding-top: 25%; 
    }
    .Projects{
        padding-left: 15%;
    } 
    .MiddleParagraph{
        padding-top: 2%;
        width: 50%;
        font-size: 1.3rem;
    }
    h2{
        text-transform: uppercase;
        padding-bottom: 2%;
        font-size: x-large;
    }
    .Projects a{
        font-size: larger;
    }
    .MainPic{
        width: 50%;
    }

    .MiddlePictures div{
        width: 23%;
        margin: 1% 1% 1% 1%;
    }
    .rowpic{
        width: 19%;
        padding: 3%;
    }
    .rowpic img{
        width: 100%;
        border-radius: 900px;
    }
    #middle{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center; */
        width: 100%;
    }
    .rowpic p{
        padding-top: 5%;
        text-align: center;
    }


    /* This is my footer */
    footer{
        display: flex;
        flex-direction: column;
        background-color: grey;
        padding: 2%;
        align-items: center;
    
    }
    h3{
        text-align: center;
        padding: 2%;
    }
    #contact{
        text-align: center;
    }

    /*Media Queries*/ 
    @media (max-width:500px){
    /* This is the head */
    header{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    nav a{
        display: flex;
        flex-direction: column;
    }
    .topsection{
        flex-direction: column;
    }
    .topsection div{
        width: 100%;
    }
    h2{
        text-align: center;
    }
    .Projects{
        padding: 0;
        margin: 3%;
        text-align: center;
    }

    #middle div{
        width: 40%;
        margin: 2%;
    }
    .MiddleParagraph{
        width: 90%;
        padding: 4%;
        text-align: left;
    }

   
    }
    
    
